.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#bar {
  border: black 1px solid;
  width: 49%;
}

#pie {
  border: blue 1px solid;
  width: 50%;
}

#nightingale {
  width: 100%;
  top: 20px;
  text-align: center;
}
